

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

@keyframes mostrar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* BARRA SUPERIOR*/
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.toggle-btn {
    display: none;
    cursor: pointer;
    padding: 30px;
    background: none;
    border: none;
    outline: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffff;
    margin: 5px 0;
    transition: 0.4s;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001014;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #b50042, #001014);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #b50042, #001014);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    width: 100%;
}

.main_figure {
    padding: 10px;
    left: 10px;
    position: relative;
}

.main_logo {
    margin: auto;
    width: 18%;
}

nav ul {
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

li a:hover {
    background: #45caff;
    transition: 1s;
}

.log_in {
    background-color: #45caff;
}

/* SECCIONES*/
section.banner {
    background-image: url('../img/inicio_fondo.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 0;
    animation: mostrar 1.5s ease-in-out;
}

.containerB {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBanner {
    border: 2px solid #d1f2ff;
    border-radius: 50px;
    align-items: center;
    margin: 33px;
    width: 90%;
    max-width: 100%;
    height: auto;
}

.col2 {
    padding-left: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

#txtBanner {
    color: #ffffff;
    font-size: 30px;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
}

#subtxtBanner {
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    font-size: 19px;
}

.boton_banner {
    text-align: center;
    padding-top: 50px;
}

.btnBanner {
    background: #ff1b6b;
    color: #fff;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
}
.btnBanner:hover {
    background: #45caff;
}

.boton_banner #languageButton {
    background: #ffffff;
    color: #000000;
}
.boton_banner #languageButton:hover {
    color: #ff1b6b;
}

/*Pie de Pagina - Footer*/
footer {
    background-color: #001014;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 1400px) {
    nav ul {
        display: none;
        /*
        position: absolute;
        top: 480px; /* Ajustar según la posición deseada
        right: 0;        width: 100%;
        z-index: 999;*/
    }

    .toggle-btn {
        display: block;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0px;
        width: 100%;
        background: #001014;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #061161, #b50042, #001014);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #061161, #b50042, #001014);
        z-index: 1;
    }
    
    .banner { /* Clase para el contenido principal */
        transition: margin-top 0.3s ease;
    }
    
}

@media screen and (max-width: 715px) {
    .main_logo {
        width: 20%;
    }
}
@media screen and (max-width: 640px) {
    .main_logo {
        width: 23%;
    }
}
@media screen and (max-width: 530px) {
    .main_logo {
        width: 26%;
    }
}
@media screen and (max-width: 500px) {
    .main_logo {
        width: 28%;
    }
}
@media screen and (max-width: 480px) {
    .main_logo {
        width: 31%;
    }
}
@media screen and (max-width: 460px) {
    .main_logo {
        width: 34%;
    }
}
@media screen and (max-width: 440px) {
    .main_logo {
        width: 37%;
    }
}
@media screen and (max-width: 420px) {
    .main_logo {
        width: 40%;
    }
}
@media screen and (max-width: 400px) {
    .main_logo {
        width: 43%;
    }
}
@media screen and (max-width: 380px) {
    .main_logo {
        width: 46%;
    }
}
@media screen and (max-width: 360px) {
    .main_logo {
        width: 49%;
    }
}
@media screen and (max-width: 340px) {
    .main_logo {
        width: 52%;
    }
}
@media screen and (max-width: 320px) {
    .main_logo {
        width: 55%;
    }
}
@media screen and (max-width: 300px) {
    .main_logo {
        width: 60%;
    }
}
@media screen and (max-width: 280px) {
    .main_logo {
        width: 64%;
    }
}
@media screen and (max-width: 270px) {
    .main_logo {
        width: 66%;
    }
}

/*  */

